@using razer_page.Model
@model Product

<div class="card">
    <div class="card-header">@Model.Name</div>
    <div class="card-body">
        <h3>@Model.Description</h3>
        <p>@Model.Price</p>
        <a href="" class="btn btn-primary">Dat hang</a>
    </div>
</div>

