@{
    Layout = "_Layout";
}


<div class ="container bg-light">
    <header class="mb-5">
        <h1 class="text-primary">day la header</h1>
    </header>
    <div>
        @RenderBody()
    </div>
    <div class="mt-5">
        <h3>Footer</h3>
    </div>
</div>