@page
@model _71webap.Pages.IndexModel
@{

}

<h1>day la trang dau tien</h1>

@{
    int x = 4;
    int y = 5;
    
}
@for (var i = 0; i < 7; i++)
{
    <p style="color:blue">tong 2 so @x , @y la @(x+ y)</p>
}