@{
    var title = ViewData["Title"] ?? "Thong bao";
    var content = ViewData["content"] ?? "thong tin noi dung";
}

<div class="alert alert-danger mt-3">
    <strong>@title</strong>
    <p>@content</p>
</div>

