@using _72core.Models
@model Product


<div class="card-body bg-light mb-3" style="width:300px">
    <h3 class="card-header">@Model.Name</h3>
    <div class="card-body">
        <p>@Model.Des</p>
        <p>@Model.Price</p>
        <button class="btn btn-info text-white btn-sm">Mua hang</button>
    </div>
</div>

