@using _72core.Models
@model  List<Product>


    <ul class="list-group">
        @foreach (var item in Model)
        {
            
        <li class="list-group-item">
            <strong>@item.Name</strong>
            @item.Des
           (@item.Price)

        </li>
        }
    </ul>
